<p>Hello How are you</p>

In [5]:
# We can add videos, html code in jupyter lab

In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('data/placement.csv')

In [4]:
df.head()

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

In [ ]:
#preprocessing on data: EDA+feature selection
#Extract i/p and o/p cols
#Scale the values
#Train test values
#Train the model
#Evaluate the model/model selection
#Deploy the model

In [6]:
df.shape

(100, 4)